@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.image-box {
    position: relative;
    
}

.background {
    width: auto;
    height: 100vh;
}

.logo-box {
    position:absolute;
    display: flex;
    text-align:center;
    align-items: center;
    justify-content:center;
    top: 150px;
    width: 100%;
    height: 140px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.odin-text {
    padding-top: 20px;
    font-size: 100px;
    font-family: norse, sans-serif;
}

.odin-logo {
    display: flex;
    height: 90%;
    margin-right: 10px;
    align-items: center;
}

.footnote {
    position: absolute;
    bottom: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

a {
    color: white;
}

a:visited {
    color: lightgrey;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-box {
    
    gap: 0px;
    margin: 0px;
    padding-top: 100px;
    padding-left: 0px;
    font-size: 24px;
    font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 247, 247);
}

.first {
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.second {
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

.third {
    margin-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

form {
    padding-left: 0px;
    padding-bottom: 35px;
    background-color: white;
    border: 1px solid white;
    width: 100%;
    box-shadow: 10px 10px 10px lightgrey;
}

.row{
    display: flex;
    padding-left: 50px;
    margin-bottom: 24px;
    gap: 4px;
}

.field {
    flex: 0.375;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .07em;
    opacity: .8;
}

.field input {
    width: 250px;
    height: 28px;
    border-radius: 6px;
    border:  solid rgb(238, 238, 238);
}

h3 {
    padding-left: 50px;
}

input:focus {
    box-shadow: 10px 10px 10px lightgrey;
}

input:invalid {
    border: 1px solid rgb(183, 1, 1);
}

button {
    margin-top: 34px;
    margin-left: 48px;
    margin-bottom: 16px;
    padding: 16px 55px 16px 55px;
    border-radius: 8px;
    border: 0px;
    background-color: rgb(0, 0, 150);
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.last-note {
    padding-left: 50px;
    font-weight: 400;
    font-size: 16px;
}

a.log-in {
    text-decoration: none;
    font-weight: 700;
    color: rgb(0, 0, 150);
}